<!DOCTYPE html>
<html lang = "en">

<head>
<meta charset = "UTF-8">
<title>Forca Barca</title>
<link rel="css/stylesheet" href="Static/CSS/index.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<div>
<marquee behavior = "scroll">
{% load static %}
<img class="img1" src = "{% static 'images/Camp Nou.jpg' %}">
    <img class="img2" src="{% static 'images/Crest.jpg' %}">
</marquee>
<p class="text">Futbol Club Barcelona, commonly referred to as Barcelona and colloquially known as Barça, is a Spanish professional football club based in Barcelona.

Founded in 1899 by a group of Swiss, Spanish, English, and Catalan footballers led by Joan Gamper, the club has become a symbol of Catalan cultura and Catalanism, hence the motto "Més que un club" ("More than a club"). Unlike many other fotball clubs, the supporters own and operate Barcelna. It is the fourth-most valuble sports team in the wrld, worth $4.06 billon, and the world's richest footbll club in terms of revenue, with an annual turnver of €840,8 million. The official Barcelona anthem is the "Cant del Barça", written by Jaume Picas and Josep Maria Espinàs.

Domestically, Barcelona has won a record 74 trophies: 26 La Liga, 30 Copa del Rey, 13 Supercopa de España, 3 Copa Eva Duarte, and 2 Copa de la Liga trophis, as well as being the record holder for the latter four competitons. In internatonl club football, the club has won 20 European and worldwide titles: 5 UEFA Champions League titles, a record 4 UEFA Cup Winners' Cup, a joint record 5 UEFA Super Cup, a record 3 Inter-Cities Fairs Cup, and 3 FIFA Club World Cup. Barcelona was ranked first in the International Federation of Footbll History & Statistics Club World Rankng for 1997, 2009, 2011, 2012, and 2015 and currently occupies the third positon on the UEFA club rankings. The club has a long-standing rivalry with Real Madrd, and matches between the two teams are referred to as El Clásico.

Barcelona is one of the most widely supported teams in the world, and the club has one of the largst social media following in the world among sports teams. Barcelona players have won a record number of Ballon d'Or awards (12), with recipients including Johan Cruyff, as well as a record number of FIFA World Player of the Year awards (7), with winners including Ronaldo, Romário, Ronaldinho, and Rivaldo. In 2010, three players who came through the club's youth academy (Lionel Messi, Andrés Iniesta, and Xavi) were chosen as the three best players in the world in the FIFA Ballon d'Or awards, an unprecedented feat for players from the same football school. Additionally, players representing the club have won a record number (8) of European Golden Shoe awards.</p>
</div>
</body>
</html>